{% extends "base.html" %}

{% block content %}
<h1>Atualizar banco de dados</h1>
<form name="atualizar-bd" method="post" enctype="multipart/form-data" action="{% url 'atualizar' %}">
    {% csrf_token %}
    <div class="form-row">
        <h5 class="mt-5">Produtos Trentin</h5>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="products-trentin-file">
            <label class="custom-file-label" for="products-trentin-file"></label>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Menu: Produtos/Estoque em determinada data/Ordem código
            </small>
        </div>

        <h5 class="mt-5">Produtos Yes</h5>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="products-yes-file">
            <label class="custom-file-label" for="products-yes-file"></label>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Menu: Produtos/Estoque em determinada data/Ordem código
            </small>
        </div>

        <h5 class="mt-5">Clientes</h5>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="clients-file">
            <label class="custom-file-label" for="clients-file"></label>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Menu: Marketing/Seleção de clientes/Clientes com compras/Clientes detalhado
            </small>
        </div>

        <button type="submit" class="btn btn-primary mt-5 ml-auto">Atualizar</button>
    </div>
</form>

{% endblock content %}

{% block  js %}

<script type="application/javascript">
    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $(this).next('.custom-file-label').html(fileName);
    });
</script>

{% endblock js %}