<!doctype html>
{% load staticfiles %}
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static "img/faveicon.ico" %}">

    <!-- Bootstrap CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery-ui.css" %}" rel="stylesheet">

    <title>Anas</title>
</head>

<body>

{% block header %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #221F20">
        <a class="navbar-brand" href="/">
            <img src="{% static "img/logo-sm.png" %}" alt="Home">
        </a>

        <ul class="nav navbar-nav ml-auto text-secondary">
            <li><a style="color: #abb0b4" href="{% url 'atualizar' %}">Atualizar</a></li>
        </ul>
    </nav>
</header>
{% endblock header %}

<main role="main" class="container mt-3">
    {% block content %}
    {% endblock content %}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.mask.min.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>

<script src="{% static "js/extenso.js" %}"></script>
<script src="{% static "js/masks.js" %}"></script>

{% block js %}
{% endblock js %}

</body>
</html>
