{% load columns %}

<style>
.table-bordered td, .table-bordered th {
    border: 1px solid #6c757d !important;
}

@media print {
    .table-bordered td, .table-bordered th {
        border: 1px solid #6c757d !important;
    }
}
</style>

<div class="row h5 small">
    <div class="col-sm-4"><span class="font-weight-bold">Nome:</span> {{ promissory.client_name }}</div>
    <div class="col-sm-2 text-right"><span class="font-weight-bold">Cód.:</span> {{ promissory.client_code }}</div>
    <div class="col-sm-3"><span class="font-weight-bold">Data:</span> {% now "d/m/Y" %} </div>
    <div class="col-sm-3 text-right"><span class="font-weight-bold">Valor:</span> R$ <span class="float-to-money"> {{ promissory.value }}</span></div>
</div>
<div class="row">
        
    {% for row in payment.instalments|rows:2 %}
    <div class="col-sm-6">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="text-center">Vencimento</th>
                  <th scope="col" class="text-right">Valor R$</th>
                </tr>
              </thead>
              <tbody>

                {% for instalment in row %}
                <tr>
                    <td>{{ instalment.order }}</td>
                    <td class="text-center">{{ instalment.due_date }}</td>
                    <td class="text-right float-to-money">{{ instalment.value }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endfor %}

</div>