<h4 class="mb-2">Carne</h4>
<div class="form-row">
    <div class="col-sm-2 mb-2">
        <label for="payment-instalments"># Parcelas</label>
        <input type="text" class="form-control instalments" id="payment-instalments" name="payment-instalments">
    </div>
    <div class="col-sm-5 mb-2">
        <label for="payment-first-due-date">Vencimento 1°</label>
        <input type="text" class="form-control date" id="payment-first-due-date" name="payment-first-due-date">
    </div>
    <div class="col-sm-5 mb-2">
        <label for="payment-value">Valor</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">R$</span>
            </div>
            <input type="text" class="form-control money" id="payment-value" name="payment-value">
        </div>
    </div>
</div>
