{% extends "base.html" %}
{% load staticfiles %}

{% block header %}{% endblock header %}

{% block content %}

{% include "lista-produtos-imprimir.html" %}

{% if products|length >= 13 %}
<p style="page-break-before: always"></p>
{% endif %}

<hr>

{% include "lista-produtos-imprimir.html" %}

<hr>

{% include "promissoria-imprimir.html" %}

{% endblock content %}

{% block js %}
<script type="text/javascript">
    window.print();
</script>
{% endblock js %}