{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<form name="condicional" method="post" action="{% url 'condicional_imprimir' %}" target="_blank">
    {% csrf_token %}

    {% include "lista-produtos-form.html" %}

    {% include "promissoria-form.html" %}

    <div class="form-row">
        <div class="col-sm-12 text-right">
            <button id="print" type="submit" class="btn btn-primary">Imprimir</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
<script src="{% static "js/lista-produtos.js" %}"></script>
<script src="{% static "js/promissoria.js" %}"></script>
<script src="{% static "js/condicional.js" %}"></script>
{% endblock js %}