{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <a class="btn btn-primary btn-xlarge" href="{% url 'venda' %}">Venda</a>
</div>

<div class="row justify-content-center mt-5">
    <a class="btn btn-primary btn-xlarge" href="{% url 'condicional' %}">Condicional</a>
</div>

{% endblock %}