<h4 class="mb-2">Produtos</h4>
<div class="form-row product-row">
    <div class="col-sm-2 col-md-2">
        <label>Código</label>
    </div>
    <div class="col-sm-8 col-md-8">
        <label>Descrição</label>
    </div>
    <div class="col-sm-2 col-md-2">
        <label>Valor (R$)</label>
    </div>
</div>

{% for i in "xxxxx" %}
    {% include "lista-produtos-form-item.html" with hide=False %}
{% endfor %}

<!-- workaround para o jquery-mask funcionar. adiciona como hide e so mostra qd clica no add -->
{% for i in "xxxxxxxxxxxxxxxxxxxx" %}
    {% include "lista-produtos-form-item.html" with hide=True %}
{% endfor %}

<div class="form-row">
    <div class="col-sm-4">
        <input type="text" name="saleman-name" class="form-control" placeholder="Vendedor">
    </div>

    <div class="col-sm-8 text-right">
        <button id="add_row" type="button" class="btn btn-primary">+</button>
    </div>
</div>