<div class="form-row product-row {{ hide|yesno:"d-none,," }}">
    <div class="col-sm-2 mb-2">
        <input type="text" class="form-control" name="product-code" placeholder="Código">
    </div>
    <div class="col-sm-8 col-md-8 mb-2">
        <input type="text" class="form-control" name="product-description" placeholder="Descrição">
    </div>
    <div class="col-sm-2 mb-2">
        <input data-mask="000.000.000.000.000,00" data-mask-reverse="true" type="text" class="form-control" name="product-value" placeholder="R$">
    </div>
</div>
