{% load static %}

<div class="row border border-secondary">
    <div class="col-sm-2 pt-2"><img src="{% static "img/logo-invertido-sm.png" %}" alt="Home"></div>
    <div class="col-sm-8">
        <h5 class="card-title text-center pt-2">PRODUTOS</h5>
    </div>
    <div class="col-sm-2 text-right">3353-2062<br>3352-2067</div>
</div>
<div class="row border-left border-bottom border-right border-secondary">
    <div class="col-sm-2 pt-1 pb-1 font-weight-bold ">Código</div>
    <div class="col-sm-8 pt-1 pb-1 font-weight-bold border-left border-secondary">Mercadoria</div>
    <div class="col-sm-2 pt-1 pb-1 font-weight-bold border-left border-secondary text-right">Valor (R$)</div>
</div>

{% for product in products %}
<div class="row border-left border-bottom border-right border-secondary">
    <div class="col-sm-2 pt-1 pb-1">{{ product.code }}</div>
    <div class="col-sm-8 pt-1 pb-1 border-left border-secondary">{{ product.description }}</div>
    <div class="col-sm-2 pt-1 pb-1 border-left border-secondary text-right"><spam>{{ product.value }}</spam></div>
</div>
{% endfor %}

<div class="row">
    <div class="col-sm-5 pt-1 pb-1">Cliente: {{ promissory.client_name }}</div>
    <div class="col-sm-4 pt-1 pb-1 text-left">Vendedor: {{ salesman_name }}</div>
    <div class="col-sm-1 pt-1 pb-1 border-right border-secondary text-right font-weight-bold">Total:</div>
    <div class="col-sm-2 pt-1 pb-1 border-right border-bottom border-secondary text-right text-right font-weight-bold float-to-money">
        {{ total_products }}
    </div>
</div>