{% load static %}

<div class="row border border-secondary pt-2">
    <div class="col-sm-12">
        <h5 class="card-title text-center">REPÚBLICA FEDERATIVA DO BRASIL</h5>
        <h6 class="card-title text-center">NOTA PROMISSÓRIA</h6>
    </div>
</div>

<div class="row border-left border-right border-secondary pt-2">
    <div class="col-sm-6">
        Vencimento: 
        {% if promissory.due_date.day %}
        <span class="font-weight-bold"> {{ promissory.due_date.day }}/{{ promissory.due_date.month }}/{{ promissory.due_date.year }} </span>
        {% else %}
        <span class="font-weight-bold"> ____/____/________</span>   
        {% endif %}
    </div>
    <div class="col-sm-6 text-right">
        Valor:
        {% if promissory.value %}
        <span class="font-weight-bold">R$ <span class="float-to-money"> {{ promissory.value }}</span></span>
        {% else %}
        _________________
        {% endif %}
    </div>
</div>

<div class="row border-left border-right border-secondary pt-2">
    <div class="col-sm-12">
    No dia 
    {% if promissory.due_date.day %}
    <span class="font-weight-bold">
    <span class="valor-extenso-data">{{ promissory.due_date.day }}</span> de 
    <span class="n-month-to-str">{{ promissory.due_date.month }} </span> de 
    <span class="valor-extenso">{{ promissory.due_date.year }} </span></span>
    {% else %}
    ___________________________________________________
    {% endif %}
    pagarei por esta única via de NOTA PROMISSÓRIA a 
    <span class="font-weight-bold">TRENTIN CALÇADOS E CONF. LTDA - ME, CNPJ 82.172.370/0001-70</span> 
    ou à sua ordem, a quantia de 
    {% if promissory.value %}
    <span class="font-weight-bold valor-extenso-moeda">{{ promissory.value }}</span> 
    {% else %}
    ___________________________________________________
    {% endif %}
    em moeda corrente deste país.
    </div>
</div>

<div class="row border-left border-right border-secondary pt-2">
    <div class="col-sm-6">
        Local de pagamento: Xaxim-SC
    </div>
    <div class="col-sm-6 text-right">
        Data da emissão:    
        {% if promissory.emission_date.day %}
        {{ promissory.emission_date.day }}/{{ promissory.emission_date.month }}/{{ promissory.emission_date.year }}
        {% else %}
        ____/____/________
        {% endif %}
    </div>
</div>

<div class="row border-left border-right border-secondary">
    <div class="col-sm-8">
        Nome do emitente: <spam class="font-weight-bold">{{ promissory.client_name }}</spam>
    </div>
    <div class="col-sm-4 text-right">
        CPF: <spam class="font-weight-bold">{{ promissory.client_cpf }}</spam>
    </div>
</div>

<div class="row border-left border-right border-secondary">
    <div class="col-sm-12">
        Endereço: <spam class="font-weight-bold">{{ promissory.client_address }}</spam>
    </div>
</div>

<div class="row border-left border-bottom border-right border-secondary pt-4 pb-2">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
        <hr style="margin-bottom: 0; border-color: #6c757d;">
        <spam class="font-weight-bold">Assinatura do emitente</spam>
    </div>
    <div class="col-sm-1"></div>
</div>
