<h4 class="mb-2 mt-1">Nota promissória</h4>
<div class="form-row">
    <div class="col-sm-6 mb-2">
        <label for="promissory-due-date">Vencimento</label>
        <input type="text" class="form-control date" id="promissory-due-date" name="promissory-due-date">
    </div>
    <div class="col-sm-6 mb-2">
        <label for="promissory-value">Valor</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
            </div>
            <input type="text" class="form-control money" id="promissory-value" name="promissory-value">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-sm-2 mb-2">
        <label for="promissory-client-code">Código</label>
        <input type="text" class="form-control" id="promissory-client-code" name="promissory-client-code">
    </div>
    <div class="col-sm-7 mb-2">
        <label for="promissory-client-name">Nome</label>
        <input type="text" class="form-control" id="promissory-client-name" name="promissory-client-name">
    </div>
    <div class="col-sm-3 mb-2">
        <label for="promissory-client-cpf">CPF</label>
        <input type="text" class="form-control cpf" id="promissory-client-cpf" name="promissory-client-cpf">
    </div>
</div>

<div class="form-row">
    <div class="col-sm-12 mb-2">
        <label for="promissory-client-address">Endereço</label>
        <input type="text" class="form-control" id="promissory-client-address" name="promissory-client-address">
    </div>
</div>
