{% extends "base.html" %}

{% block content %}

<h4>Clientes cadastrados</h4>
{% if clients %}
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Endereco</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.codigo }}</td>
            <td>{{ client.nome }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.endereco }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h6>Nenhum cliente foi cadastrado.</h6>
{% endif %}

<hr>

<h4>Produtos cadastrados</h4>
{% if products %}
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.codigo }}</td>
            <td>{{ product.descricao }}</td>
            <td class="float-to-money">{{ product.valor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h6>Nenhum produto foi cadastrado.</h6>
{% endif %}

{% endblock content %}
