{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<form name="condicional" method="post" action="{% url 'venda_imprimir' %}" target="_blank">

    {% csrf_token %}

    {% include "carne-form.html" %}
    
    {% include "promissoria-form.html" %}

    <div class="form-row">
        <div class="col-sm-12 text-right">
            <button id="print" type="submit" class="btn btn-primary mt-1">Imprimir</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
<script src="{% static "js/promissoria.js" %}"></script>

<script>
    $('#payment-value').change(function(){
        $('#promissory-value').val($(this).val());
    });
</script>
{% endblock %}