{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block content %}

{% include "carne-imprimir.html" %}

<hr class="mb-4">

{% include "carne-imprimir.html" %}

<hr class="mb-4">

{% include "promissoria-imprimir.html" %}

{% endblock content %}

{% block js %}
<script type="text/javascript">
    window.print();
</script>
{% endblock js %}